{% extends 'base.html' %} {% block title %}Билеты{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\tickets.css' %}>
    <div class="action right">
      <button class="add-btn btn-right">Додати строку</button>
    </div>

    <table>
      <thead>
        <th>№</th>
        <th>ФІО клієнта</th>
        <th>Місце квитка у салоні</th>
        <th>ID загран паспорта</th>
        <th>Контактна інформація</th>
        <th>Назва рейсу квитка</th>
        <th>Час початку рейсу</th>
        <th>Час закінченя рейсу</th>
        <th>Автобус</th>
        <th>Вартість</th>
        <th>Степінь  комфорту</th>
        <th>Кількість проходження митних КПП</th>
      </thead>
      <tbody>
         {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.num_seat }}</td>
                    <td>{{ ticket.contact_info }}</td>
                    <td>{{ ticket.trip }}</td>
                    <td>{{ ticket.fleet }}</td>
                    <td>{{ ticket.date_of_next }}</td>
                    <td>{{ ticket.date_of_last }}</td>
                    <td>{{ ticket.bus }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>{{ ticket.current_flight }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}
