{% extends 'base.html' %} {% block title %}Квитки{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\tickets.css' %}>
    <div class="action right" style="right: 0;">
    <form action={% url 'tickets:search' %} method='POST'>
        {% csrf_token %}
        <select name="control" required id="">
            <option value="" selected disabled hidden>Назва рейсу</option>
            {% for control in controls %}
                <option value="{{ control.id }}">{{ control.trip.name }}</option>
            {% endfor %}
        </select>
    <button type="submit">Шукати</button>
    </form>
    </div>
    <table>
      <thead>
        <th>№</th>
        <th>ПІБ клієнта</th>
        <th>Місце квиток у салоні</th>
        <th>Контактна інформація</th>
        <th>Назва рейсу квитка</th>
        <th>Година початку рейсу</th>
        <th>Година завершення рейсу</th>
        <th>Номер автопарку</th>
        <th>Вартість</th>
        <th>Степінь комфорту</th>
        <th>Кількість проходження митних КПП</th>
      </thead>
      <tbody>
         {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.client_name }}</td>
                    <td>{{ ticket.seat.name }}</td>
                    <td>{{ ticket.contact_info }}</td>
                    <td>{{ ticket.control.trip.name }}</td>

                    <td>{{ ticket.control.depar_time }}</td>
                    <td>{{ ticket.control.arrival_time }}</td>
                    <td>{{ ticket.control.fleet.number }}</td>
                    <td>{{ ticket.control.trip.price }} грн</td>
                    <td>{{ ticket.control.degree_of_comf }}</td>
                    <td>{{ ticket.control.num_of_custom }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}