{% extends 'base.html' %} {% block title %} Маршрути {% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\tickets.css' %}>
    <form action={% url 'tickets:reg' %} method='POST'>
        {% csrf_token %}
        <div></div>
        <h3>Редагувати квиток</h3>
        <div class="inputs">
            <div>
                <div><label for="">ПІБ клієнта</label></div>
                <input class="form-control item" type="text" name="name" value="{{ ticket.name }}"
                       placeholder="ПІБ клієнта" required>
                <div><label for="">Місце квитка біля салону</label></div>
                <input class="form-control item" type="number" name="num_seat" value="{{ ticket.num_seat }}"
                       placeholder="Місце квитка біля салону" required>
                <div><label for="">Контактна інформація</label></div>
                <input class="form-control item" type="text" name="contact_info" value="{{ ticket.contact_info }}"
                       placeholder="Контактна інформація" required>
                <div><label for="">Назва рейсу</label></div>
                <select class="form-control item" name="trip" id="">
                    <option value="" selected disabled hidden>Назва рейсу</option>
                    {% for trip in trips %}
                        {% if trip.id == ticket.trip.id %}
                            <option selected value="{{ trip.id }}">{{ trip.name }}</option>
                        {% else %}
                            <option value="{{ trip.id }}">{{ trip.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            <div><label for="">Номер автопарку</label></div>
                <select class="form-control item" name="fleet" id="">
                    <option value="" selected disabled hidden>Номер автопарку</option>
                    {% for fleet in fleets %}
                        {% if fleet.id == ticket.fleet.id %}
                            <option selected value="{{ fleet.id }}">{{ fleet.number }}</option>
                        {% else %}
                            <option value="{{ fleet.id }}">{{ fleet.number }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>

                <div><label for="">Година початку рейсу</label></div>
                <input class="form-control item" type="date" name="depar_time"
                       value="{{ ticket.depar_time|date:"Y-m-d" }}" placeholder="Година початку рейсу" required>
                <div><label for="">Час завершення рейсу</label></div>
                <input class="form-control item" type="date" name="arrival_time"
                       value="{{ ticket.arrival_time|date:"Y-m-d" }}" placeholder="Час завершення рейсу" required>
                <div><label for="">Вартість</label></div>
                <input class="form-control item" type="number" name="price" value="{{ ticket.price }}"
                       placeholder="Вартість" required>
                <div><label for="">Степінь комфорту</label></div>
                <input class="form-control item" type="text" name="degree_of_comf" value="{{ ticket.degree_of_comf }}"
                       placeholder="Степінь комфорту" required>
                <div><label for="">Кількість проходження митних КПП</label></div>
                <input class="form-control item" type="number" name="num_of_custom" value="{{ ticket.num_of_custom }}"
                       placeholder="Кількість проходження митних КПП" required></div>

        </div>
        <button type="submit">Редагувати</button>
        </div>


    </form>
{% endblock %}