{% extends 'base.html' %} {% block title %}Автопарк{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\park.css' %}>
    <div class="action right">
     <a href={% url 'park:add' %}><button class="add-btn btn-right">Додати автопарк</button></a>
    </div>

    <table>
      <thead>
        <th>№</th>
        <th>Номер</th>
        <th>Автобус</th>
        <th>Водій №1</th>
        <th>Водій №2</th>
        <th>Кілометраж</th>
        <th>Кількість виконаних рейсів</th>
        <th>Дата наступного огляду</th>
        <th>Дата останнього тих огляду</th>
        <th>Нинішній рейс</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
            {% for park in parks %}
                <tr>
                    <td>{{park.id}}</td>
                    <td>{{park.number }}</td>
                    <td>{{park.driver_1.bus.name}}</td>
                    <td>{{park.driver_1.name}}</td>
                    <td>{{park.driver_2.name}}</td>
                    <td>{{park.mileage}}</td>
                    <td>{{park.num_of_flights_perform}}</td>
                    <td>{{ park.date_of_next }}</td>
                    <td>{{park.date_of_last }}</td>
                    <td>{{park.current_flight.name}}</td>
                    <td><a href={% url 'park:update' park.id %} style="color:black">Редагувати</a></td>
                    <td><a href={% url 'park:delete' park.id %} style="color:black">Удалити</a></td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}