{% extends 'base.html' %} {% block title %}Рейсы{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\flights.css' %}>
    <div class="action right">
        <a href={% url 'flights:add' %}>
            <button class="add-btn btn-right">Додати рейс</button>
        </a>
    </div>
    <div class="item-list">
        {% for trip in trips %}
            <div class="item">
             <div class="item-main"><img class="item-img" src="{{ trip.photo }}" onerror="this.src='{% static 'img\bus.jpg' %}';this.onerror='';">
                <div class="control">
                    <botton>Контроль рейсу</botton>
                </div>
            </div>
            <div class="item-title"><h2>{{ trip.name }}</h2></div>
            <div class="info">
                <span>{{ trip.price }}</span>
                <span>{{ trip.popularity }}</span>
                <span>{{ trip.occupancy }}</span>
                <span>{{ trip.profitability }}</span>
                <span>{{ trip.route.name }}</span>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}