{% extends 'base.html' %} {% block title %}Автопарк{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\flights.css' %}>

    <form action={% url 'flights:upd' trip.id %} method='POST'>
        {% csrf_token %}
        <div></div>
        <h3>Редагувати рейс</h3>
        <div class="inputs">
            <div>
                <div><label for="">Url фото</label></div>
                <input class="form-control" type="text" name="photo" value="{{ trip.photo }}" placeholder="Url фото"
                       required>
                <div><label for="">Назва рейсу</label></div>
                <input class="form-control" type="text" name="name" value="{{ trip.name }}" placeholder="Назва рейсу"
                       required>
                <div><label for="">Вартість</label></div>

                <input class="form-control" type="number" name="price" value="{{ trip.price }}" placeholder="Вартість"
                       required>
                <div><label for="">Маршрут</label></div>

                <select class="form-control" name="route" required id="">
                    <option value="" disabled hidden>Маршрут</option>
                    {% for route in routes %}
                        {% if route.id == trip.route.id %}
                            <option selected value="{{ route.id }}">{{ route.name }}</option>
                        {% else %}
                            <option value="{{ route.id }}">{{ route.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <div><label for="">Популярність</label></div>

                <input class="form-control" type="text" name="popularity" value="{{ trip.popularity }}"
                       placeholder="Популярність" required>
                <div><label for="">Заповненість</label></div>

                <input class="form-control" type="text" name="occupancy" value="{{ trip.occupancy }}"
                       placeholder="Заповненість" required>
                <div><label for="">Рентабельність</label></div>

                <input class="form-control" type="text" name="profitability" value="{{ trip.profitability }}"
                       placeholder="Рентабельність" required>
            </div>
        </div>
        <button type="submit">Редагувати</button>
        </div>


    </form>
{% endblock %}