{% extends 'base.html' %} {% block title %}Аналіз{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\analysis.css' %}>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Назва рейсу', 'Прибуток', 'Витрати'],
                ['Київ-Гамбург', 25000, 12000],
                ['Київ-Гданськ', 23000, 9000],
                ['Київ-Варшава', 27000, 10000],
                ['Київ-Познань', 19000, 8000],
                ['Київ-Париж', 34000, 17000],
                ['Київ-Берлін', 30000, 15000]
            ]);
            var options = {
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil1'));
            chart.draw(data, options);
        }
    </script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Країна', 'Кількість рейсів'],
                ['Німечина', 132],
                ['Італія', 120],
                ['Іспанія', 115],
                ['Франція', 119],
                ['Португалія', 94],
                ['Нідерланди', 85]
            ]);
            var options = {
            };
            var chart = new google.visualization.PieChart(document.getElementById('oil2'));
            chart.draw(data, options);
        }
    </script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Назва рейсу', 'Кількість клієнтів'],
                ['Київ-Гамбург', 34],
                ['Київ-Гданськ', 42],
                ['Київ-Варшава', 15],
                ['Київ-Познань', 25],
                ['Київ-Париж', 39],
                ['Київ-Берлін', 37]
            ]);
            var options = {
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil3'));
            chart.draw(data, options);
        }
    </script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Водій', 'Зайняті зміни', 'Вільні зміни'],
                ['Кінів А.А', 3,4],
                ['Тар І.А', 2,2],
                ['Комороф К.Ф', 1,4],
                ['Котів А.Б', 3,1],
                ['Еліт Б.Ю', 3,2],
                ['Зембей А.Ю', 3,3]
            ]);
            var options = {
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil4'));
            chart.draw(data, options);
        }
    </script>
    <div class="item-list">
        <div>
            <h2>Гістограма рентабельності рейсів</h2>
            <div class="diag" id="oil1"></div>
        </div>
        <div>
            <h2>Аналіз популярності маршрутів</h2>
            <div class="diag" id="oil2"></div>
        </div>
        <div>
            <h2>Гістограма заповненості рейсів</h2>
            <div class="diag" id="oil3"></div>
        </div>
        <div>
            <h2>Аналіз завантаженості водіїв</h2>
            <div class="diag" id="oil4"></div>
        </div>
    </div>
{% endblock %}