{% extends 'base.html' %} {% block title %}Контроль{% endblock %}
{% block content %} {% load static %}
<link rel="stylesheet" href={% static 'style\control.css' %}>
    <div class="item-list">
        <div class="info">
                <span>Рейс Київ - Гамбург</span>
                <span>Зайняті місця - 0 <button class="red num small"></button></span>
                <span>Вільні місця - 44 <button class="green num small"></button></span>
                <span>Водії -Владімір  Фо Ігор Тар</span>
                <span>2.07. 6:00 - 3.07. 9:00</span>
        </div>
        <div class="full-info">
            <div>
                <div><span>Рейс: Київ - Гамбург</span></div>
                <div><span>Статус місце знаходження:Німеччина, округ Берлін</span></div>
                <div><span>Час проходження останього КПП:20:48 03.04.2021</span></div>

            </div>

        </div>
        <div class="autobus">
      <div class="str">
        <div><button class="num big"></button></div>
        <div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
        </div>
      </div>
      <div class="str">
        <div><button class="num big"></button></div>
        <div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
        </div>

      </div>
    </div>
    </div>
    <table>
      <thead>
        <th>№</th>
        <th>Назва</th>
        <th>Кількість місць</th>
        <th>Вартість квитка</th>
        <th>Популярність</th>
        <th>Заповненість</th>
        <th>Рентабельність</th>
        <th>Час виїзду</th>
        <th>Час прибуття</th>
        <th>Степінь комфорту</th>
        <th>Кількість проходження митних КПП</th>
        <th>Кількість водіїв</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Київ - Гамбург</td>
          <td>44</td>
          <td>1500 грн</td>
          <td>Висока</td>
          <td>50%</td>
          <td>Висока</td>
          <td>6:00 2.07.21</td>
          <td>9:00 3.07.21</td>
          <td>3/5</td>
          <td>5</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>

{% endblock %}