{% extends 'base.html' %} {% block title %}Контроль{% endblock %}
{% block content %} {% load static %}
<link rel="stylesheet" href={% static 'style\control.css' %}>
    <div class="item-list">
        <div class="info">
                <span>Рейс {{ control.trip.name }}</span>
                <span>Зайняті місця - {{ on }} <button class="red num small"></button></span>
                <span>Вільні місця - {{ off }} <button class="green num small"></button></span>
                <span>Водії -{{ control.fleet.driver_1.name }};{{ control.fleet.driver_2.name }}</span>
                <span>{{ control.depar_time }} - {{ control.arrival_time }}</span>
        </div>
        <div class="full-info">
            <div>
                <div><span>Рейс: {{ control.name }}</span></div>
                <div><span>Статус місце знаходження:Німеччина, округ Берлін</span></div>
                <div><span>Час проходження останього КПП:20:48 03.04.2021</span></div>

            </div>

        </div>
        <div class="autobus">
      <div class="str">
        <div><button id="driver_2" onclick="alert('Водитель-{{ control.fleet.driver_2.name }} Категорія-{{ control.fleet.driver_2.category }}')" class="num big"></button></div>
        <div>
          <div><div>{% for x in control.num_seat.all %} {% if x.name <= 11 %} {% if x.status != 'on' %}
              <form style="display: inline" action={% url 'control:buy' control.id %} method='POST'>
                  {% csrf_token %}<button type="submit" value="{{ x.id }}" name="seat" class="num"></button></form>{% else %}<button class="num red"></button>{% endif %} {% endif %}{% endfor %} </div> <div>{% for x in control.num_seat.all %} {% if x.name > 11 and x.name <= 22 %}{% if x.status != 'on' %}<form style="display: inline" action={% url 'control:buy' control.id %} method='POST'>
                  {% csrf_token %}<button type="submit" value="{{ x.id }}" name="seat" class="num"></button></form>{% else %}<button class="num red"></button>{% endif %} {% endif %}{% endfor %}</div></div>
        </div>
      </div>
      <div class="str">
        <div><button id="driver_1" onclick="alert('Водитель-{{ control.fleet.driver_1.name }} Категорія-{{ control.fleet.driver_1.category }}')" class="num big"></button></div>
        <div>
          <div><div>{% for x in control.num_seat.all %} {% if x.name > 22 and x.name <= 33 %}{% if x.status != 'on' %}<form style="display: inline" action={% url 'control:buy' control.id %} method='POST'>
                  {% csrf_token %}<button type="submit" value="{{ x.id }}" name="seat" class="num"></button></form>{% else %}<button class="num red"></button>{% endif %} {% endif %}{% endfor %} </div> <div>{% for x in control.num_seat.all %} {% if x.name > 33 and x.name <= 44 %}{% if x.status != 'on' %}<form style="display: inline" action={% url 'control:buy' control.id %} method='POST'>
                  {% csrf_token %}<button type="submit" value="{{ x.id }}" name="seat" class="num"></button></form>{% else %}<button class="num red"></button>{% endif %} {% endif %}{% endfor %}</div></div>
        </div>
      </div>

      </div>
    </div>
    </div>
    <table>
      <thead>
        <th>№</th>
        <th>Назва</th>
        <th>Кількість місць</th>
        <th>Вартість квитка</th>
        <th>Популярність</th>
        <th>Заповненість</th>
        <th>Рентабельність</th>
        <th>Час виїзду</th>
        <th>Час прибуття</th>
        <th>Степінь комфорту</th>
        <th>Кількість проходження митних КПП</th>
        <th>Кількість водіїв</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ control.id }}</td>
          <td>{{ control.trip.name }}</td>
          <td>{{ all }}</td>
          <td>{{ control.trip.price }} грн</td>
          <td>{{ control.trip.popularity }}</td>
          <td>{{ on }}</td>
          <td>{{ control.trip.profitability }}</td>
          <td>{{ control.depar_time }}</td>
          <td>{{ control.arrival_time }}</td>
          <td>{{ control.degree_of_comf }}</td>
          <td>{{ control.num_of_custom }}</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>

{% endblock %}