{% extends 'base.html' %} {% block title %}Водители{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\drivers.css' %}>
    <form action={% url 'drivers:reg' %} method='POST'>
        {% csrf_token %}
        <div></div>
        <h3>Добавить водителя</h3>
        <div class="inputs">
            <div><input class="form-control item" type="text" name="name" placeholder="Имя" required>
                <input class="form-control item" type="text" name="category" placeholder="Категория прав" required>
                <input class="form-control item" type="text" name="experience" placeholder="Штрафы" required>
                <select  class="form-control item" name="bus" id="">
                    {% for bus in buses %}
                        <option value="{{ bus.id }}">{{ bus.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div><input class="form-control item" type="text" name="salary" placeholder="Зарплата" required>
                <input class="form-control item" type="text" name="degree_of_cong" placeholder="Степень загруженности"
                       required>
                <input class="form-control item" type="text" name="degree_of_reliab" placeholder="Степень надёжности" required>
            </div>
        </div>
        <button type="submit">Добавить</button>

    </form>
{% endblock %}
