{% extends 'base.html' %} {% block title %}Водители{% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\drivers.css' %}>
    <div class="action right">
        <a href={% url 'drivers:add' %}><button class="add-btn btn-right">Додати строку</button></a>

    </div>

    <table>
      <thead>
        <th>№</th>
        <th>ФІО</th>
        <th>Категорія</th>
        <th>Стаж</th>
        <th>Кількість штрафів</th>
        <th>Кількість виконаних рейсів</th>
        <th>Автобус</th>
        <th>ЗП</th>
        <th>Степінь завантаженості</th>
        <th>Степінь надійності</th>
      </thead>
      <tbody>
        {% for driver in drivers %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.category }}</td>
                    <td>{{ driver.experience }}</td>
                    <td>{{ driver.num_of_fines }}</td>
                    <td>{{ driver.num_of_flights }}</td>
                    <td>{{ driver.bus.name }}</td>
                    <td>{{ driver.salary }}</td>
                    <td>{{ driver.degree_of_cong }}</td>
                    <td>{{ driver.degree_of_reliab }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}
