{% extends 'base.html' %} {% block title %} Маршрути {% endblock %}
{% block content %} {% load static %}
    <link rel="stylesheet" href={% static 'style\routes.css' %}>
    <form action={% url 'routes:reg' %} method='POST'>
        {% csrf_token %}
        <div></div>
        <h3>Додати маршрут</h3>
        <div class="inputs">
            <div>
                <div><label for="">Url фото</label></div>
                <input class="form-control" type="text" name="photo" value="{{ route.photo }}" placeholder="Url фото">
                <div><label for="">Назва</label></div>
                <input class="form-control" type="text" name="name" value="{{ route.name }}" placeholder="Назва" required>
                <div><label for="">Місто відправки</label></div>
                <select class="form-control" name="arrival" id="">
                    {% for place in places %}
                        {% if place.id == route.arrival.id %}
                            <option selected value="{{ place.id }}">{{ place.name }}</option>
                            {% else %}
                            <option value="{{ place.id }}">{{ place.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div><label for="">Місто прибуття</label></div>
                <select class="form-control" name="departure" id="">
                    {% for place in places %}
                        {% if place.id == route.departure.id %}
                            <option selected value="{{ place.id }}">{{ place.name }}</option>
                            {% else %}
                            <option value="{{ place.id }}">{{ place.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit">Додати</button>

    </form>
{% endblock %}